#header{
    width: 100%;
    height: 85vh;
    background: url('https://a0.muscache.com/im/pictures/57b9f708-bb12-498c-bc33-769f8fc43e63.jpg');    background-size: cover;
    background-position: center;
    position: relative;
    .center-title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        h4{
            color: #fff;
            font-family: sans-serif;
            font-size: 17px;
        }
        h5{
            color: #7C0198;
            font-family: sans-serif;
            font-size: 18px;
            background-color: #fff;
            padding: 15px 45px;
            border-radius: 25px;
            width: fit-content;
            margin: 15px auto 0;
            cursor: pointer;
        }
        
    }
    .res-footer{display: none;}
}
@media(max-width: 600px){
    .res-footer{
        display: block !important;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #ececec;
        padding: 12px 0;
        box-sizing: border-box;
        width: 100%;
        transition: 0.3s;
        .icons{
            width: fit-content;
            margin: 0 auto;
            i{
                padding: 0 10px;
                color: #333;
                font-size: 21px;
                &:nth-child(1){
                    color: crimson;
                }
            }
        }
    }
}